# == Laravelで使用する環境変数 ==========
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:M481gA/YgTIakvA8Jukl6HSP46NwyLVSJ2qEVRoS6zs=
APP_DEBUG=true
APP_URL=http://localhost

# LOG_CHANNEL=stdout
LOG_CHANNEL=stack

DB_CONNECTION=pgsql

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=60

# == 認証 ==========
SANCTUM_STATEFUL_DOMAINS=localhost
SESSION_DOMAIN=localhost
SESSION_DRIVER=cookie

# == アプリ固有の環境変数 ==========

# DB設定
DB_HOST=postgres
DB_PORT=5432
DB_NAME=lesson_booking_db
DB_USER=docker
DB_PASSWORD=docker