# == Environment Variables ==========
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:M481gA/YgTIakvA8Jukl6HSP46NwyLVSJ2qEVRoS6zs=
APP_DEBUG=true
APP_URL=http://localhost

# LOG_CHANNEL=stdout
LOG_CHANNEL=stack

DB_CONNECTION=pgsql

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=60

# == Authentication ==========
SANCTUM_STATEFUL_DOMAINS=localhost
SESSION_DOMAIN=.localhost
SESSION_DRIVER=cookie

# == Application Specific Environment Variables ==========

# DB settings
DB_HOST=postgres
DB_PORT=5432
DB_NAME=lesson_booking_db
DB_USER=docker
DB_PASSWORD=docker

# Email Sending Settings
SENDGRID_FROM_EMAIL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SENDGRID_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX