/* --------------------------------------------------------------
* Bass
*-------------------------------------------------------------- */
html {
    overflow: hidden auto;
}

body {
    font-size: 12px;
    width: 400px;
    margin: 0 auto;
}
a {
    text-decoration: underline;
}
.has-background-grey::placeholder{
    color:#d4d4d4
}


/* --------------------------------------------------------------
* Customize
*-------------------------------------------------------------- */
// footer
.footer {
    height: 4.8rem;
    padding: 2rem 0;
}

// a
.tabs ul li a,
.pagination .pagination-list li a,
a.button,
.menu-list li a {
    text-decoration: none;
}

// ボタン
.button.is-primary {
    height: 60px;
}

// テスト用セレクトボックス操作無効化
.disabled {
    pointer-events: none;
}

// text
.input:read-only {
    border-color: #ebebeb;
}

// radio
.is-checkradio[type=radio] + label {
    padding-top: 0.05rem;
}
// .is-checkradio[type=radio].is-small + label {
//     line-height: 1.625rem;
// }
.is-checkradio[type=checkbox] + label {
    padding-top: 0.1rem;
}
.is-checkradio[type=checkbox] + label:not([for])::before {
    opacity: 0.6;
}

// checked radio,checkbox
.is-checkradio[type=radio]:checked[disabled] + label,
.is-checkradio[type=checkbox]:checked[disabled] + label {
    opacity: 0.3;
}

// level
@media screen and (min-width: 769px), print {
    .level-left .level-item:not(:last-child),
    .level-right .level-item:not(:last-child) {
        margin-right: 2rem;
    }
}

// pagination
.pagination-list {
    font-size: 0.75rem;
}
.pagination-ellipsis {
    margin: 0.1em;
    padding-right: 0.1em;
    padding-left: 0.1em;
}
.content ul.pagination-list {
    list-style: none;
}

// menu
.menu-label {
    font-size: 12px;
    margin-top: 14px!important;
    margin-bottom: 2px!important;
    margin-left: 4px;
    color: #4a4a4a;
}

// table input
.table .input.is-small[type="text"] {
    height: auto;
    padding: 2px 4px;
}
.table tr.has-background-warning .input,
.table tr.has-background-warning .textarea {
    background-color: #ffed4a;
}
.table tr.has-background-grey .input,
.table tr.has-background-grey .textarea {
    color: #fafafa;
    background-color: #7a7a7a;
}
.table .textarea {
    min-height: 40px;
    padding: 4px;
    line-height: 1.2;
    font-size: 12px;
}

// breadcrumb
.breadcrumb li.is-active {
    font-weight: bold;
}

.breadcrumb.has-succeeds-separator li:nth-child(2)::before {
    color: hsl(0, 0%, 71%);
    content: "";
}

// Google Fontsのアイコン
.material-symbols-outlined {
    &.orange {
        color: #f6993f;
    }
    &.light-red {
        color: rgb(250 29 18 / 52%);
    }
    &.small {
        font-size: 20px;
    }
    &.too-small {
        font-size: 16px;
    }
}

// modal
.modal-content {
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}

.modal-background {
    background-color: #2929295c;
}

// ヘッダー
.logo-size {
    height: 16px;
    width: 16px;
}

.menu-check {
    display: none;
}
.menu-btn {
    position: absolute;
}

.menu-btn-checked {
    visibility: hidden;
}

.cancel-btn-checked {
    margin-right: 10px;
}

// サイドバー
.sidebar-parent {
    display: contents;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #fff;
    transition: all 0.5s ease;
    z-index: 100;
}
.sidebar header {
    line-height: 50px;
}
.sidebar a {
    display: flex;
    height: 65px;
    border-left: 5px solid transparent;
    letter-spacing: 1px;
    font-size: 16px;
    text-decoration: none;
}
.sidebar a span {
    font-size: 23px;
    margin-right: 16px;
}

.right-sidebar {
    position: fixed;
    right: 20px;
    background-color: #ffffff;
    transition: all 0.8s ease;
    top: 3px;
    width: 300px;
}
.right-sidebar-area {
    height: 100px;
}

//login message
.message.is-small {
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.message {
    background-color: rgb(0, 0, 0,0.4);
    border-radius: 4px;
}

.error-message {
    color: rgb(245, 0, 0);
}

.error-page-title-message {
    color: rgb(212, 170, 2);
}

.title-color {
    color: white;
}


//login background image
.login-img {
    //background-image: url(/image/login_bg_img.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.hero {
//    height: calc(100vh - 4.8rem);
}

.columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    &:last-child {
        margin-bottom: 0;
    }
}

// date-picker
.dp__input {
    font-size: 0.75rem;
    line-height: 1;
    padding-right: 12px;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.faq-label {
    color: #f7a204;
    font-size: 14px;
}

.answer-card {
    overflow: hidden;
    transition: max-height 0.5s;
}
.category-title {
    letter-spacing: 1px;
    font-size: 16px;
    color: hsl(0, 0%, 29%);
}

// 3点リーダー
.three-dots-reader {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.absolute-right {
    position: absolute;
    right: calc(50% - 180px);
}

.new-line-text {
    white-space: pre-wrap; /* テキストを折り返し */
    word-wrap: break-word; /* 必要に応じて単語を折り返し */
    overflow: hidden; /* はみ出しを防止 */
}

.text-area.input {
    height: 100%;
}

.step {
    position: relative;
    // min-height: 6em;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.step > div:not(:first-child) {
    margin-left: 1.5em;
}

.circle {
    background: #fff;
    position: relative;
    width: 2.3em;
    height: 2.3em;
    line-height: 1.5em;
    border-radius: 100%;
    text-align: center;
    border: 3px solid;
}

.circle.shadow {
    box-shadow: 0 0 0 1px #dbdbdb;
}

.circle.no-shadow {
    box-shadow: 0 0 0 0px #dbdbdb;
}

.circle.small {
    width: 1.8em;
    height: 1.8em;
}

.circle.green {
    color: rgb(49 197 98 / 44%);
}

.circle.light-red {
    color:rgb(250 29 18 / 52%);
}

.circle.orange {
    background: #f6993f;
    color: orange;
}

.circle.chevron-right {
    top: 3px;
    position: fixed;
    right: 20px;
}

.chevron-right-text {
    top: 8px;
    position: fixed;
    right: 55px;
}

.vertical-line {
    content: " ";
    position: absolute;
    display: block;
    top: 25px;
    left: 45%;
    width: 4px;
    z-index: 2;
}

.no-line.vertical-line {
    display: none;
}

// トグル
.toggle {
    cursor: pointer;
    display: inline-block;
  }

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: rgb(49 197 98 / 44%);
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

/* --------------------------------------------------------------
* component
*-------------------------------------------------------------- */
.cmp- {
    // Layout
    &main-contents-column {
        margin: 0;
        padding-left: 0;
        padding-right: 10px;
        transition: width 240ms ease-out;
    }

    &margin-bottom-10 {
        margin-bottom: 10%;
    }

    &main-contents-column.cmp-contents-fullwidth {
        width: 99%;
    }

    // Loading
    &loading-modal {
        z-index: 90;
    }
    &loading-modal .modal-background {
        background-color: rgba(255, 255, 255, 0);
    }
    &loading-icon {
        color: transparent !important;
        pointer-events: none;
    }
    &loading-icon::after {
        -webkit-animation: spinAround 500ms infinite linear;
                animation: spinAround 500ms infinite linear;
        border: 6px solid #f6993f;;
        border-radius: 290486px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        display: block;
        height: 6em;
        width: 6em;
    }
    &is-page-loading.cmp-loading-modal {
        z-index: 91;
    }
    &is-page-loading .modal-background {
        background: #ffffff;
    }
    &is-page-loading &loading-icon::after {
        border: 6px solid #f6993f;
        border-right-color: transparent;
        border-top-color: transparent;
    }

    // Modal
    &modal-full.modal .modal-content {
        width: 96%;
        // min-height: 100vh;
    }

    // Progressbar
    &progressbar {
        width: 320px;
        margin: 0 auto 60px;
        opacity: 0.9;
        justify-content: flex-end;
    }

    // SearchFrom
    &form-search {
        margin: 0;
        border-bottom: none;
    }
    &form-search.border {
        border: 1px solid #dbdbdb;
    }
    &form-search.no-border {
        border: none;
    }
    &form-search.round-corner {
        border-radius: 20px;
    }
    &form-search.shadow {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #dbdbdb;
        //border-bottom: none;
        box-shadow: none;
    }
    &form-search.round-corner {
        border-radius: 20px;
    }
    &form-search.round-corner-15 {
        border-radius: 15px;
    }
    &form-search.background-orange {
        background-color: #fff3dc;
    }
    &form-search.shadow {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
    &form-search .column {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        display: flex;
        align-items: center;
    }
    &form-search .column.small {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        display: flex;
        align-items: center;
    }
    &form-search &heading {
        //position: relative;
        text-align: left;
        font-weight: bold;
        //border-bottom: 1px solid #dbdbdb;
        background: #f5f5f5;
        box-sizing: border-box;
        font-size: 0.8rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    &form-search &heading .is-centered {
        height: 18px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    &form-search &heading &icon {
        height: 22px;
        padding-bottom: 2px;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        right: 14px;
        top: 0;
        bottom: 0;
    }
    &form-search &items {
        min-height: 35px;
    }
    &form-search &small-items {
        min-height: 25px;
    }
    &form-search &items &item:last-child {
        border-bottom: none;
    }
    &form-search &line-only {
        border-bottom: 1px solid #dbdbdb;
    }

    // Left, Right Area
    &level {
        position: relative;
    }
    &level &level-left {
        position: absolute;
        top: 0;
        left: 0;
    }
    &level &level-right {
        position: absolute;
        top: 0;
        right: 0;
    }

    // Input File
    &input-flie.file {
        border: #cfcfcf 4px dashed;
        border-radius: 4px;
        position: relative;
        color: #4a4a4a;
        font-size: 14px;
    }
    &input-flie &is-drag {
        height: 120px;
        width: 100%;
    }
    &input-flie &input-flie-text {
        height: 1.5em;
        width: 100%;
        margin: auto;
        padding-left: 16px;
        padding-right: 190px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    &input-flie .file-cta {
        margin: auto;
        height: 80px;
        border-radius: 4px!important;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
    }
    &input-flie .file-input {
        height: 0;
        width: 0;
    }

    &layout-items {
        position: relative;
    }

    &layout-items > &layout-item-valign-middle-long {
        height: 38px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
    }

    &layout-items > &layout-item-valign-middle {
        height: 18px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
    }

}


/* --------------------------------------------------------------
* Module
*-------------------------------------------------------------- */
.mod- {
    // Sub Title
    &subtitle {
        margin: 10px;
        font-size: 14px;
        font-weight: bold;
    }

    // breadcrumb
    &breadcrumb + .level .mod-subtitle {
        margin-top: 0!important;
    }

    // Checkbox
    &is-checked-link.is-checkradio[type=checkbox] + label  {
        color: #b5b5b5;
    }
    &is-checked-link.is-checkradio[type=checkbox]:checked + label a  {
        color: #3490dc;
    }
    &is-checked-link.is-checkradio[type=checkbox]:checked + label a:hover  {
        color: #363636;
    }
    &checkbox-bugfix {
        // チェックボックスにチェックを入れるとレイアウトが崩れるバグがあるため、そのバグ回避用
        display: block;
        position: relative;
    }
    &is-none-text.is-checkradio[type=checkbox] + label {
        padding-left: 16px;
        margin: 0;
    }
    &is-none-text.is-small.is-checkradio[type=checkbox] + label {
        padding-left: 10px;
    }
    &is-none-text.is-large.is-checkradio[type=checkbox] + label {
        padding-left: 28px;
    }

    // Radio
    &is-none-text.is-checkradio[type=radio] + label {
        padding-left: 16px;
    }
    &is-none-text.is-small.is-checkradio[type=radio] + label {
        padding-left: 10px;
    }
    &is-none-text.is-large.is-checkradio[type=radio] + label {
        padding-left: 28px;
    }

    // Link
    &link .mod-is-icon {
        flex: 1;
    }
    &link .mod-is-text {
        flex: 5;
    }

    // Table
    .table &is-width-xxsmall {
        width: 25px;
    }
    .table &is-width-xsmall {
        width: 40px;
    }
    .table &is-width-small {
        width: 55px;
    }
    .table &is-width-medium {
        width: 75px;
    }
    .table &is-width-large {
        width: 100px;
    }
    .table &is-width-xlarge {
        width: 140px;
    }
    .table &is-width-xxlarge {
        width: 170px;
    }
    .table &is-width-xxxlarge {
        width: 200px;
    }
    .table &is-valign-middle {
        vertical-align: middle;
    }
    .table &new-line {
        word-break: break-all;
        overflow-wrap:break-word
    }
    &has-valign-all-middle.table th,
    &has-valign-all-middle.table td {
        vertical-align: middle;
    }
    &has-text-all-centered.table th,
    &has-text-all-centered.table td {
        text-align: center;
    }
    &is-first-lineless.table th:first-child,
    &is-first-lineless.table td:first-child {
        border-top: none;
        border-bottom: none;
        border-left: none;
    }
    &is-last-lineless.table th:last-child,
    &is-last-lineless.table td:last-child {
        border-top: none;
        border-bottom: none;
        border-right: none;
    }

    // Scroll Table
    &scrolly-table {
        height: 284px;
        overflow-y: auto;
    }
    &scrolly-table.is-small-table {
        height: 138px;
    }
    &scrolly-table {
        height: 400px;
    }

    &scrollx-table {
        display: block;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    &has-overflowx-auto {
        overflow-x: auto;
    }

    &scrollx-table .table {
        width: 100%;
    }

    // pagination
    .pagination &pagination-previous {
        margin-right: 15px;
        font-size: 0.75rem;
    }
    .pagination &pagination-next {
        margin-left: 15px;
        font-size: 0.75rem;
    }

    // Column
    &is-width-fix.column {
        // max-width: 450px;
        max-width: 460px;
        flex-basis: auto;
    }

    // Hero
    // hero-body使用時、コンテンツの内容がスクロールする際に見切れるのを防止 ※IEは個別指定
    &padding-adjust.hero-body {
        padding-top: 82px!important;
    }
}

// Hero
_:-ms-lang(x)::-ms-backdrop, .mod-padding-adjust.hero-body {
    padding-top: 1px!important;
}

/* --------------------------------------------------------------
* Utility
*-------------------------------------------------------------- */
.utl- {
    // テキストの三点リーダー
    &text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: default;
    }

    // 改行ありのテキストなどに使用
    &text {
        white-space: pre-wrap;
        word-break: break-all;
    }

    &is-underline-none {
        text-decoration: none;
    }

    // 背面要素の操作を可能にする
    &is-event-none {
        pointer-events: none;
    }

    // Width
    &is-autowidth {
        width: auto!important;
    }
    &is-autoheight {
        height: auto!important;
    }
    &is-halfwidth {
        width: 50%!important;
    }
    &is-fullwidth {
        width: 100%!important;
    }
    &is-thirdwidth {
        width: 33.3333%!important;
    }
    &is-quarterwidth {
        width: 25%!important;
    }
    &is-fifthwidth {
        width: 10%!important;
    }
    &is-fullheight {
        min-height: 100vh!important;
    }
    &is-min-halfwidth {
        min-width: 50%!important;
    }
    &is-min-thirdwidth {
        min-width: 33.3333%!important;
    }
    &is-min-quarterwidth {
        min-width: 25%!important;
    }
    &is-min-fifthwidth {
        min-width: 10%!important;
    }

    // Mouse Cursor
    &cursor-pointer {
        cursor: pointer!important
    }

    // Flex
    &justify-content-centered {
        justify-content: center!important;
    }

    // List
    &is-list-none li {
        list-style-type: none!important
    }

    // Contents Margin
    &is-margin{
        margin: 1rem 1.5rem;
        padding: 0;
    }

    // Margin
    &mlr0 {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    &m10 {
        margin: 10px!important;
    }
    &m20 {
        margin: 20px!important;
    }
    &m40 {
        margin: 40px!important;
    }
    &mlr10 {
        margin-left: 10px!important;
        margin-right: 10px!important;
    }
    &mlr20 {
        margin-left: 20px!important;
        margin-right: 20px!important;
    }
    &mlr40 {
        margin-left: 40px!important;
        margin-right: 40px!important;
    }
    &ml0 {
        margin-left: 0!important;
    }
    &ml10 {
        margin-left: 10px!important;
    }
    &ml20 {
        margin-left: 20px!important;
    }
    &ml40 {
        margin-left: 40px!important;
    }
    &mr0 {
        margin-right: 0!important;
    }
    &mr10 {
        margin-right: 10px!important;
    }
    &mr20 {
        margin-right: 20px!important;
    }
    &mr40 {
        margin-right: 40px!important;
    }
    &mtb0 {
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
    &mtb10 {
        margin-top: 10px!important;
        margin-bottom: 10px!important;
    }
    &mtb20 {
        margin-top: 20px!important;
        margin-bottom: 20px!important;
    }
    &mtb40 {
        margin-top: 40px!important;
        margin-bottom: 40px!important;
    }
    &mt0 {
        margin-top: 0!important;
    }
    &mt10 {
        margin-top: 10px!important;
    }
    &mt20 {
        margin-top: 20px!important;
    }
    &mt40 {
        margin-top: 40px!important;
    }
    &mb0 {
        margin-bottom: 0!important;
    }
    &mb10 {
        margin-bottom: 10px!important;
    }
    &mb20 {
        margin-bottom: 20px!important;
    }
    &mb40 {
        margin-bottom: 40px!important;
    }

    // Padding
    &p10 {
        padding: 10px!important;
    }
    &p20 {
        padding: 20px!important;
    }
    &p40 {
        padding: 40px!important;
    }
    &plr0 {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    &plr10 {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    &plr20 {
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    &plr40 {
        padding-left: 40px!important;
        padding-right: 40px!important;
    }
    &pl0 {
        padding-left: 0!important;
    }
    &pl10 {
        padding-left: 10px!important;
    }
    &pl20 {
        padding-left: 20px!important;
    }
    &pl40 {
        padding-left: 40px!important;
    }
    &pr0 {
        padding-right: 0!important;
    }
    &pr10 {
        padding-right: 10px!important;
    }
    &pr20 {
        padding-right: 20px!important;
    }
    &pr40 {
        padding-right: 40px!important;
    }
    &ptb0 {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
    &ptb10 {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    &ptb20 {
        padding-top: 20px!important;
        padding-bottom: 20px!important;
    }
    &ptb40 {
        padding-top: 40px!important;
        padding-bottom: 40px!important;
    }
    &pt0 {
        padding-top: 0!important;
    }
    &pt10 {
        padding-top: 10px!important;
    }
    &pt20 {
        padding-top: 20px!important;
    }
    &pt40 {
        padding-top: 40px!important;
    }
    &pb0 {
        padding-bottom: 0!important;
    }
    &pb10 {
        padding-bottom: 10px!important;
    }
    &pb20 {
        padding-bottom: 20px!important;
    }
    &pb40 {
        padding-bottom: 40px!important;
    }

    // Border
    &border-dashed {
        border-width: 4px;
        border-style: dashed;
    }
    &has-bordercolor-gray {
        border-color: #cfcfcf;
    }
    &has-radius {
        border-radius: 4px;
    }

    // Color
    &has-background-blue {
        background: #abdafb!important;
    }
    &has-background-blue-light {
        background: #ddf1ff!important;
    }
    &has-background-blue-lighter {
        background: #eff8ff!important;
    }
    &has-background-green-light {
        background: #d6f9f4!important;
    }
    &has-background-green-lighter {
        background: #f0fffd!important;
    }
    &has-background-green-lighter {
        background: #f0fffd!important;
    }
    &has-background-red {
        background: #ffbdbd!important;
    }
    &has-background-red-light {
        background: #ffdddd!important;
    }
    &has-background-orange {
        background: #ffe0ad!important;
    }
    &has-background-orange-light {
        background: #fff3dd!important;
    }
    &has-background-warning-light {
        background: rgba(255, 238, 88, 0.53)!important;
    }

    // テキスト折り返し
    &overflow-wrap-anywhere {
        overflow-wrap: anywhere;
    }

}


/* --------------------------------------------------------------
* Browser
*-------------------------------------------------------------- */
/* -- IE11のみ -- */
// レイアウト崩れ対応
_:-ms-lang(x)::-ms-backdrop, .hero .hero-body .container {
    width: 100%;
    margin-top: 150px;
}

// datetimepickerの月、年表示崩れ
_:-ms-lang(x)::-ms-backdrop, .datetimepicker .datepicker-controls .datepicker-container-label .custom-button {
    display: block;
}
_:-ms-lang(x)::-ms-backdrop, .datetimepicker .year-month-selector .month-button {
    display: block;
}
_:-ms-lang(x)::-ms-backdrop, .datetimepicker .year-month-selector .custom-button {
    display: block;
}

/* -- Edgeのみ -- */
// ラジオボタンが勝手に非表示になる対応
@supports (-ms-ime-align:auto) {
    .is-checkradio[type=radio] + label:before {
        top: 0;
    }
    .is-checkradio[type=radio]:checked + label:before {
        top: 0.000001%;
    }
}

/* -- IE, Edge -- */
// テキストボックスのクリア、パスワード表示ボタン非表示
input::-ms-clear {
    display: none;
}
input::-ms-reveal {
    display: none;
}

// Material Icon用
.mi.material-icons {
    font-size: 16px;
    vertical-align: text-bottom;
}