// search
.uni- {
    /* 経路検索画面 */
    &pin-last-row {
        border-bottom: solid 2px #cccccc;
    }

    /* 経路検索詳細画面 */
    &googlemap {
        overflow: hidden;
        position: relative;
    }
    &googlemap-contents {
        width:100%;
        min-height: calc(100vh - 54px - 52px - 48px); // 画面高さ - ヘッダー高さ - 見出し - (戻るボタン)
    }
    &googlemap-info {
        margin: 0!important;
        padding: 0;
        position: absolute;
        transform: translateX(0);
        transition: transform 300ms ease-out;
    }
    &googlemap-info &control {
        width: 26px;
        height: 26px;
        color: #ffffff;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
    }
    &googlemap-info &is-litte.input {
        width: 24px;
        height: 20px;
        padding: 1px 2px;
        font-size: 10px;
    }
    &googlemap-info &is-litte[type="number"].input::-webkit-outer-spin-button,
    &googlemap-info &is-litte[type="number"].input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &googlemap-info &is-litte[type="number"].input {
        -moz-appearance:textfield;
    }
    &googlemap-info .message-header {
        padding: 6px;
        font-size: 12px;
    }
    &googlemap-info-heading.table {
        td, th {
            padding: 0.1em 0.2em
        }
    }
    &googlemap-info-heading {
        font-size: 11px;
    }

    &googlemap-info.uni-info-setting {
        width: 640px;
        bottom: 0;
        right: 0;
    }
    &googlemap-info.uni-info-search {
        width: 220px;
        top: 10px;
        left: 10px;
    }
    &googlemap-info.uni-info-setting &control {
        border-right: 1px solid #ffffff;
        left: -26px;
    }
    &googlemap-info.uni-info-search &control {
        border-left: 1px solid #ffffff;
        right: -26px;
    }
    &googlemap-info.uni-info-setting.uni-is-info-hidden {
        transform: translateX(640px);
    }
    &googlemap-info.uni-info-search.uni-is-info-hidden {
        transform: translateX(-230px);
    }
    &googlemap-info.message.is-primary &control {
        background-color: #f6993f;
    }
    &googlemap-info.message.is-info .message-header,
    &googlemap-info.message.is-info &control {
        background-color: #3298dc;
    }

    &line {
        display: inline-block;
        height: 6px;
        width: 40px;
        margin: 0 4px;
        border-top: solid 4px;

    }
    &line-dashed {
        border-top-style: dashed;
    }
}

/* IE11 */
_:-ms-lang(x)::-ms-backdrop, .uni-googlemap-info .slider {
    padding: 0;
    min-height: auto;
    height: 10px;
}
_:-ms-lang(x)::-ms-backdrop, .uni-googlemap-info .input[type="number"]{
    display: inline;
}
